* {
  margin: 0;
  padding: 0;
}

:root {
  /** Dark theme primary colors */
  --clr-primary-a0: #8936c8;
  --clr-primary-a10: #984ecf;
  --clr-primary-a20: #a665d5;
  --clr-primary-a30: #b47bdc;
  --clr-primary-a40: #c291e2;
  --clr-primary-a50: #cfa6e8;

  /** Dark theme surface colors */
  --clr-surface-a0: #121212;
  --clr-surface-a10: #282828;
  --clr-surface-a20: #3f3f3f;
  --clr-surface-a30: #575757;
  --clr-surface-a40: #717171;
  --clr-surface-a50: #8b8b8b;

  /** Dark theme tonal surface colors */
  --clr-surface-tonal-a0: #1e1722;
  --clr-surface-tonal-a10: #332c37;
  --clr-surface-tonal-a20: #49434d;
  --clr-surface-tonal-a30: #615b64;
  --clr-surface-tonal-a40: #79747c;
  --clr-surface-tonal-a50: #928e94;
}

body {
  background-color: var(--clr-surface-a0);
}

#content {
  height: 100vh;
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 4fr 1fr;
}

.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  color: white;
  font-size: 16px;
}
.text.header {
  font-size: 20px;
}
.text.date,
.text.input {
  color: black;
}

.list,
.form {
  background-color: var(--clr-surface-a10);
  padding: 10px;
  border-radius: 5px;
}

.container.project,
.container.todo,
.container.note {
  display: grid;
  margin: 10px;
  padding: 10px;
  gap: 10px;
  background-color: var(--clr-surface-a20);
  color: white;
  border-radius: 5px;
  font-size: 24px;
}

.container.project:hover,
.container.todo:hover {
  background-color: var(--clr-surface-a40);
  transition: background-color 0.2s;
}

.container.selected,
.container.selected:hover {
  background-color: var(--clr-primary-a50);
}

.container.todo .content {
  display: flex;
  justify-content: space-between;
}
.container.todo .content .info {
  display: flex;
  padding: 5px;
  gap: 10px;
}

.button.delete {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  font-size: 16px;
  justify-self: right;
  color: white;
  visibility: hidden;
}
.container:hover .button.delete {
  transition: visibility 0.5s;
  visibility: visible;
}

.button.add {
  align-self: last baseline;
  justify-self: right;
  background-color: --clr-primary-a0;
  color: white;
  display: none;
}

#new-project-form,
#new-to-do-form,
#new-note-form {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 25px;
  gap: 5px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #282828;
  color: white;
  font-size: 24px;

  display: grid;
  /* display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%; */
}

.button.submit {
  grid-column-end: -1;
  justify-self: right;
  align-self: last baseline;
  justify-self: right;
  background-color: var(--clr-surface-a30);
  border-radius: 5px;
  padding: 1px 12px;
  border: none;
}
