#content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 6fr 1fr;    
}

#new-to-do-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.selected {
    border: solid 2px black;
}